* {
  box-sizing: border-box;
}

body {
  color: #4b4b4b;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

main {
  background: white;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  box-shadow: 0 15px 18px -5px whitesmoke;
  margin: 0 auto;
  max-width: 2000px;
}

section {
  padding: 50px 0;
}

p, li {
  line-height: 25px;
  text-align: left;
  line-height: 35px;
  margin: 0;
}

strong {
  font-weight: normal;
}

h3 {
  display: block;
  color: #4b4b4b;
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", serif;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #00b4ff;
  letter-spacing: 5px;
  line-height: 30px;
  padding: 0 0 35px;
  margin: 0 0 75px;
}

@media only screen and (min-width: 480px) {
  h3 {
    font-size: 18px;
    line-height: 50px;
    margin: 0 0 100px;
  }
}
::-moz-selection {
  color: white;
  background-color: #00b4ff;
}

::selection {
  color: white;
  background-color: #00b4ff;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-input-placeholder {
  color: lightgray;
  transition: 0.5s;
}

:-ms-input-placeholder {
  color: lightgray;
  transition: 0.5s;
}

::placeholder {
  color: lightgray;
  transition: 0.5s;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

.top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b4ff !important;
  font-size: 25px;
  text-decoration: none !important;
  background: #0096e1;
  background: linear-gradient(#00b4ff, #0096e1);
  border-radius: 2px;
  box-shadow: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 150;
  padding: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: 0.25s ease-in-out;
}
.top-button .flecha {
  color: white;
}
.top-button:visited {
  border-radius: 2px;
}
.top-button:hover {
  border-radius: 50%;
}
.top-button:active {
  border-radius: 2px;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
  position: relative;
  height: 100vh;
  min-height: 1000px;
  max-height: 100vh;
}
#header .fila {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background: url("../img/bg/header.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 5px 5px 25px lightgrey;
  width: 100%;
  height: 100%;
}
#header .fila .columna {
  position: relative;
  width: 100%;
  height: 100%;
}
#header .fila .columna:nth-child(1) {
  align-self: flex-start;
  border-bottom: 5px solid white;
  height: 50%;
}
#header .fila .columna:nth-child(1)::after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  right: -5px;
  width: 5px;
  height: 100%;
}
#header .fila .columna:nth-child(2) {
  border: 5px solid white;
  height: 60%;
}
#header .fila .columna:nth-child(3) {
  align-self: flex-end;
  border-top: 5px solid white;
  height: 50%;
}
#header .fila .columna:nth-child(3)::after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  left: -5px;
  width: 5px;
  height: 100%;
}
#header .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 180, 255, 0.9);
  padding: 15px;
  padding: 50px;
  position: relative;
}
#header .heading .logo {
  font-family: "Poppins", sans-serif;
  margin: 0 0 20px;
  width: 250px;
  height: auto;
}
#header .heading h2 {
  color: white;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  line-height: 25px;
  margin: 0;
}
#header .heading a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 65px;
  height: 60px;
  transform: translateX(-50%);
  transition: 0.25s;
}
#header .heading a .flecha {
  color: white;
  font-size: 50px;
  opacity: 0.5;
  transition: 0.5s;
}
#header .heading a:hover .flecha {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  #header .fila .columna:nth-child(1) {
    flex-shrink: 2;
  }
  #header .fila .columna:nth-child(2) {
    flex-shrink: 1;
  }
  #header .fila .columna:nth-child(3) {
    flex-shrink: 2;
  }
}
@media only screen and (max-width: 768px) {
  #header .fila .columna:nth-child(2) {
    height: 50%;
  }

  #header {
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  #header {
    height: 700px;
    min-height: initial;
    max-height: 700px;
  }
  #header .fila .columna:nth-child(1) {
    flex-shrink: 4;
  }
  #header .fila .columna:nth-child(2) {
    flex-shrink: 1;
  }
  #header .fila .columna:nth-child(3) {
    flex-shrink: 4;
  }
  #header .heading a {
    bottom: 0;
  }
}
#about {
  padding: 150px 0;
}
#about p {
  font-size: 15px;
  text-align: center;
  line-height: 35px;
}

@media only screen and (min-width: 480px) {
  #about p {
    font-size: 18px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 768px) {
  #about {
    padding: 0 0 150px;
  }
}
.callout {
  color: white;
  padding: 75px 0;
  position: relative;
}
.callout .texto {
  display: block;
  font-size: 15px;
  line-height: 30px;
  padding: 25px;
  position: relative;
  z-index: 50;
}
.callout .texto .comillas {
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.callout .overlay {
  background: #00b4ff;
  background: linear-gradient(to right, #0096e1, #14c8ff);
  opacity: 0.85;
}
.callout.tipo1 {
  background: url(../img/bg/callout1.jpg) fixed no-repeat center;
  background-size: cover;
}
.callout.tipo2 {
  background: url(../img/bg/callout2.jpg) fixed no-repeat center;
  background-size: cover;
}

@media only screen and (min-width: 480px) {
  .callout {
    padding: 125px 0;
  }
  .callout .texto {
    font-size: 20px;
    line-height: 40px;
    padding: 25px;
  }
  .callout .texto .comillas {
    font-size: 100px;
  }
}
#servicios {
  padding: 100px 0;
}
#servicios h3 + p {
  text-align: center;
  margin-bottom: 75px;
}
#servicios .items {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#servicios .items .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  text-align: center;
  background: #00b4ff;
  background: linear-gradient(#00b4ff, #14c8ff);
  padding: 50px 25px;
  margin: 10px;
  position: relative;
  width: 250px;
  height: 275px;
  cursor: pointer;
}
#servicios .items .item .icono {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 5px #00b4ff, 0 0 0 8px rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  margin: 0 auto 35px;
  width: 75px;
  height: 75px;
  transition: 0.5s ease-in-out;
}
#servicios .items .item .texto {
  line-height: 25px;
  margin: 0;
}
#servicios .items .item:hover .icono {
  transform: rotateY(180deg);
}
#servicios .items .item::after {
  content: "";
  display: block;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
}

#ventajas {
  padding: 0;
}
#ventajas .fila {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: url(../img/bg/ventajas.jpg) fixed no-repeat center;
  background-size: cover;
}
#ventajas .fila .columna {
  align-self: stretch;
  position: relative;
  width: 100%;
}
#ventajas .fila .columna:nth-child(1) .overlay {
  background: #00b4ff;
  background: linear-gradient(to top right, #0096e1, #14c8ff);
  opacity: 0.9;
}
#ventajas .fila .columna:nth-child(2) {
  background: rgba(245, 245, 245, 0.95);
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
#ventajas .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 125px 50px;
}
#ventajas .heading h3 {
  color: white;
  text-align: left;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 50;
}
#ventajas .heading .aclaracion {
  color: rgba(255, 255, 255, 0.75);
  font-size: 10px;
  font-weight: 300;
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 50;
}
#ventajas .items {
  display: flex;
  flex-direction: column;
}
#ventajas .items .item {
  text-align: center;
  padding: 75px;
  width: 100%;
}
#ventajas .items .item .icono {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b4ff;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #14c8ff, 0 0 0 3px whitesmoke, 0 0 0 6px #00b4ff;
  margin: 0 auto 25px;
  width: 50px;
  height: 50px;
}
#ventajas .items .item .titulo {
  display: inline-block;
  color: #00b4ff;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 180, 255, 0.25);
  white-space: nowrap;
  padding: 0 10px 10px;
  margin: 0 0 25px;
}
#ventajas .items .item .explicacion {
  display: block;
  color: #4b4b4b;
  font-size: 13px;
  line-height: 25px;
}
#ventajas .items .item:nth-child(1) {
  border-right: 1px solid #e1e1e1;
}
#ventajas .items:first-child .item {
  border-bottom: 1px solid #e1e1e1;
}
#ventajas .items > div {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 480px) {
  #ventajas .items .item {
    padding: 50px 25px;
  }
  #ventajas .items > div {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  #ventajas .fila {
    flex-wrap: nowrap;
  }
  #ventajas .fila .columna:nth-child(1) {
    width: 40%;
  }
  #ventajas .fila .columna:nth-child(2) {
    width: 60%;
  }
  #ventajas .heading {
    padding: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #ventajas .fila .columna:nth-child(1) {
    width: 100%;
  }
  #ventajas .fila .columna:nth-child(2) {
    width: 100%;
  }

  #ventajas .items .item {
    padding: 75px;
  }
}
#tarifas {
  background: url(../img/bg/tarifas.jpg) fixed no-repeat center;
  background-size: cover;
  padding: 125px 0;
  position: relative;
}
#tarifas .overlay {
  background: rgba(255, 255, 255, 0.9);
}
#tarifas .tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 50;
}
#tarifas .tarjetas .tarjeta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgrey;
  margin: 10px;
  width: 300px;
  height: 475px;
  overflow: hidden;
  transition: 0.5s;
}
#tarifas .tarjetas .tarjeta .header {
  background: #00b4ff;
  background: linear-gradient(#14c8ff, #00b4ff 100px);
  text-align: center;
  padding: 50px 0 30px;
  position: relative;
}
#tarifas .tarjetas .tarjeta .header .precio {
  color: white;
  font-size: 75px;
  margin-bottom: 25px;
  position: relative;
}
#tarifas .tarjetas .tarjeta .header .precio .desde, #tarifas .tarjetas .tarjeta .header .precio .iva {
  color: rgba(255, 255, 255, 0.6);
  font-size: 8px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
}
#tarifas .tarjetas .tarjeta .header .precio .desde {
  top: 5px;
  left: 0;
}
#tarifas .tarjetas .tarjeta .header .precio .iva {
  right: 0;
  bottom: 5px;
}
#tarifas .tarjetas .tarjeta .header h4 {
  color: white;
  font-size: 10px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 10px 0 15px;
}
#tarifas .tarjetas .tarjeta .header .ondulaciones {
  position: absolute;
  left: 0px;
  bottom: -15px;
  width: 100%;
  height: auto;
  transform: rotateX(25deg);
}
#tarifas .tarjetas .tarjeta .body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 50px;
  height: 100%;
}
#tarifas .tarjetas .tarjeta .body p {
  text-align: center;
}
#tarifas .tarjetas .tarjeta .footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 15px;
}
#tarifas .tarjetas .tarjeta .footer .saber-mas {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  background: #00b4ff;
  border: 1px solid #00b4ff;
  border-radius: 25px;
  margin-bottom: 18px;
  width: 200px;
  height: 40px;
  transition: 0.5s;
  cursor: pointer;
}
#tarifas .tarjetas .tarjeta .footer .saber-mas:hover, #tarifas .tarjetas .tarjeta .footer .saber-mas:active {
  color: #00b4ff;
  background: white;
  border-radius: 0;
}
#tarifas .tarjetas .tarjeta .footer .small {
  font-size: 10px;
}

#razones {
  padding: 100px 0;
}
#razones .timeline {
  position: relative;
}
#razones .timeline .fila {
  display: flex;
  justify-content: flex-end;
}
#razones .timeline .fila .columna {
  padding: 25px 0px 25px 90px;
  position: relative;
  width: 100%;
}
#razones .timeline .fila .columna .tarjeta {
  border: 1px solid #00b4ff;
  border-radius: 5px;
  line-height: 30px;
  padding: 25px;
  position: relative;
}
#razones .timeline .fila .columna .tarjeta .texto {
  font-size: 12px;
  text-align: right;
  line-height: 25px;
  margin: 0;
}
#razones .timeline .fila .columna .tarjeta::after {
  content: "";
  display: block;
  background: white;
  box-shadow: -1px 1px 0 0 #00b4ff;
  position: absolute;
  top: 50%;
  left: -12px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%) rotate(45deg);
}
#razones .timeline .fila .columna .icono {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b4ff;
  font-size: 25px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #14c8ff, 0 0 0 3px white, 0 0 0 6px #00b4ff;
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 25;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
}
#razones .timeline::after {
  content: "";
  display: block;
  background: linear-gradient(white 50%, #00b4ff 50%) top repeat-y;
  background-size: 1px 15px;
  position: absolute;
  top: 0;
  left: 30px;
  bottom: 0;
  width: 1px;
  height: 100%;
}

@media only screen and (min-width: 480px) {
  #razones {
    padding: 150px 0;
  }
  #razones .timeline .fila {
    justify-content: flex-start;
  }
  #razones .timeline .fila .columna {
    padding: 25px 55px 25px 0;
    width: 50%;
  }
  #razones .timeline .fila .columna .tarjeta::after {
    box-shadow: 1px -1px 0 0 #00b4ff;
    left: auto;
    right: -12px;
  }
  #razones .timeline .fila .columna .icono {
    left: auto;
    right: -25px;
  }
  #razones .timeline .fila.invertida {
    justify-content: flex-end;
  }
  #razones .timeline .fila.invertida .columna {
    padding: 25px 0 25px 55px;
  }
  #razones .timeline .fila.invertida .columna .tarjeta .texto {
    text-align: right;
  }
  #razones .timeline .fila.invertida .columna .tarjeta::after {
    box-shadow: -1px 1px 0 0 #00b4ff;
    left: -12px;
    right: auto;
  }
  #razones .timeline .fila.invertida .columna .icono {
    left: -25px;
    right: auto;
  }
  #razones .timeline::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 768px) {
  #razones .timeline .fila .columna {
    padding: 50px 100px 50px 0;
  }
  #razones .timeline .fila.invertida .columna {
    padding: 50px 0 50px 100px;
  }
  #razones .timeline .fila .columna .tarjeta .texto {
    font-size: 15px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  #razones .timeline .fila .columna,
#razones .timeline .fila.invertida .columna {
    padding: 50px 100px;
  }
}
#contacto {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#contacto .fila {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  z-index: 50;
}
#contacto .fila .columna {
  width: 100%;
}
#contacto .fila .columna:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: url(../img/bg/contacto.jpg) no-repeat center;
  background-size: cover;
  padding: 50px 25px;
  position: relative;
}
#contacto .fila .columna:nth-child(1) h3 {
  color: white;
  border-color: rgba(255, 255, 255, 0.25);
  margin: 0 0 75px;
  position: relative;
  z-index: 50;
  width: 100%;
}
#contacto .fila .columna:nth-child(1) .datos-contacto {
  list-style: none;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 50;
}
#contacto .fila .columna:nth-child(1) .datos-contacto .dato {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10px;
  font-weight: 300;
}
#contacto .fila .columna:nth-child(1) .datos-contacto .dato .icono {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
#contacto .fila .columna:nth-child(1) .overlay {
  background: #00b4ff;
  background: linear-gradient(to top right, #0096e1, #14c8ff);
  opacity: 0.8;
}
#contacto .fila .columna:nth-child(2) {
  background: white;
  padding: 50px;
}
#contacto .overlay {
  background: #00b4ff;
  background: linear-gradient(to top right, #0096e1, #14c8ff);
  opacity: 0.5;
}
#contacto::after {
  content: "";
  display: block;
  background: url(../img/bg/contacto.jpg) fixed no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(25px);
  -webkit-filter: blur(25px);
}
#contacto .formulario {
  margin: 0 auto;
  max-width: 350px;
}
#contacto .formulario .entrada {
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  resize: none;
}
#contacto .formulario .entrada:nth-child(4) {
  margin-bottom: 50px;
}
#contacto .formulario .boton {
  color: white;
  text-align: center;
  text-decoration: none;
  background: #00b4ff;
  border: 2px solid #00b4ff;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
#contacto .formulario .boton:hover {
  color: #00b4ff;
  background: none;
  border-radius: 0;
}

@media only screen and (min-width: 768px) {
  #contacto .fila {
    flex-wrap: nowrap;
  }
  #contacto .fila .columna:nth-child(1) {
    width: 40%;
  }
  #contacto .fila .columna:nth-child(1) h3 {
    margin: 0;
  }
  #contacto .fila .columna:nth-child(2) {
    padding: 75px;
    width: 60%;
  }
  #contacto .fila .columna:nth-child(2) .formulario .entrada {
    margin-bottom: 35px;
  }
}
@media only screen and (min-width: 980px) {
  #contacto {
    padding: 150px 50px;
  }
  #contacto .fila .columna:nth-child(1) {
    padding: 50px 25px;
    margin: 25px 0;
  }
}
@media only screen and (min-width: 1200px) {
  #contacto .fila .columna:nth-child(1) {
    padding: 50px;
  }
  #contacto .fila .columna:nth-child(1) .datos-contacto .dato {
    font-size: 12px;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00b4ff;
  height: 50px;
}
footer span {
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.modal .modal-content {
  border-radius: 2px;
}
.modal .modal-content .modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/bg/modal.jpg) fixed no-repeat bottom center;
  background-size: cover;
  padding: 50px;
  position: relative;
  min-height: 400px;
}
.modal .modal-content .modal-header .modal-title {
  color: white;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 50;
}
.modal .modal-content .modal-header .close {
  color: white;
  font-size: 30px;
  font-weight: 300;
  outline: none;
  line-height: 15px;
  margin: 0;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 50;
  opacity: 0.75;
  transition: 0.5s ease-in-out;
}
.modal .modal-content .modal-header .close:hover {
  opacity: 1;
}
.modal .modal-content .modal-header .overlay {
  background: #00b4ff;
  background: linear-gradient(to right, #0096e1, #14c8ff);
  opacity: 0.75;
}
.modal .modal-content .modal-body {
  padding: 0 50px 50px;
}
.modal .modal-content .modal-body h3 {
  font-size: 15px;
  text-align: left;
  letter-spacing: 5px;
  padding: 0 20px 10px;
  margin: 50px 0;
}
.modal .modal-content .modal-body h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 25px 0;
}
.modal .modal-content .modal-body ul {
  list-style: none;
  padding: 0 25px;
  margin: 0;
}
.modal .modal-content .modal-body ul li {
  padding: 0;
  margin: 0;
}
.modal .modal-content .modal-body ul li::before {
  content: "";
  display: inline-block;
  background: #14c8ff;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  bottom: 3px;
  width: 4px;
  height: 4px;
}
.modal .modal-content .modal-footer {
  background: #00b4ff;
  background: linear-gradient(to right, #0096e1, #14c8ff);
  padding: 25px 50px;
}
.modal .modal-content .modal-footer p {
  color: white;
  font-size: 12px;
  line-height: 25px;
}

#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  width: 100%;
  height: 100vh;
}
#preloader .spinner {
  color: #00b4ff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
